<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324267730660-56i77d7uj6uikibr26kngjdq9563oeco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324267730660-56i77d7uj6uikibr26kngjdq9563oeco</string>
	<key>API_KEY</key>
	<string>AIzaSyAp0MG8rPjgVbzZP8lERQAGfh_Z2PWdOEM</string>
	<key>GCM_SENDER_ID</key>
	<string>324267730660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseChat</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-c410e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-c410e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324267730660:ios:2a9535c7cc45cd2cfe6ef1</string>
</dict>
</plist>